$font-stack:    Helvetica, sans-serif;
$font-main: 'Montserrat', sans-serif;
$primary-color: #F67280;
$font-color: #CA94E6;
$small: 300px;
$medium: 900px;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


body {
  font: 100% $font-main;
  color: white;
  background-color: #C06C84;
  margin: 0;
}

.in_body{
  @media screen and (min-width: 1024px){
    margin: 0 20%;
    //background-color: white;
    max-height: 100%;
  }
  @media screen and (max-width: 1024px){
    margin: 0 5%;
    //background-color: white;
    max-height: 100%;
  } 
}

.image_header{
  align-content: center;
  margin: 15px 7%;
}

.nav_bar{
  ul {
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
    @media screen and (max-width: 700px){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      float: left;
    }
    a {
      @media screen and (max-width: 700px){
        padding: 14px 5px;      
      } 
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      &:hover{
        background-color: #C95D68;
      }
    }
    .profile{
      float: right;
      @media screen and (max-width: 700px){
        float: left;
      }
    }
  }
}


.main{
  padding: 20px;
  a {
    display: block;
    padding: 30px;
  }
}

footer{
  ul {
    border-radius: 20px;
    align-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
    li {
      @media screen and (min-width: 1024px){
        float: left;
        display: block;
        color: white;
        max-width: 30%;
        text-align: center;
        padding: 20px 1.5%;
        text-decoration: none;
      }
        
      @media screen and (max-width: 1024px) {
        float: left;
        
        color: white;
        max-width: 70%;
        text-align: center;
        padding: 20px 28%;
        text-decoration: none;
        align-items: center;
      }
      .bottom_image {
        display: block;
        position: center;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 100%;
        border: solid #fff 5px;
      }
    }
  }
}
  