@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

body {
    margin-bottom: 60px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}

@media (min-width: 576px) and (max-width: 1368px) {
    .get-article-main {
        width: 70%;
    }
}

@media (min-width: 1921px){
    .get-article-main {
        width: 70%;
        margin: auto;
    }
}

.get-article-main {
    max-width: 1024px;
    position: relative;
}

.get-article-top-info {
    margin-top: 44px;
}

.get-article-subcategory-link {
    float: left;
    color: #D72130;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 0 2px;
}

.get-article-category-link {
    float: left;
    color: #B2B2B2;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.get-article-text-under-image {
    float: left;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.get-article-background-text {
    transform: rotate(90deg);
    transform-origin: right;
    position: absolute;
    left: 70%;
    top: 700px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 141px;
    line-height: 192px;
    letter-spacing: 1.25893px;
    color: rgba(204, 211, 224, 0.301628);
    z-index: -1;
    white-space: normal;
}

.get-article-background-text-news {
    transform: rotate(90deg);
    transform-origin: left;
    position: absolute;
    left: 6%;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 141px;
    line-height: 192px;
    letter-spacing: 1.25893px;
    color: rgba(204, 211, 224, 0.301628);
    z-index: -1;
    white-space: nowrap;
}

.get-article-content {
    width: 80%;
    margin: auto;
}

.get-article-text-under-image {
    margin: 42px 0;
    width: 100%;
    height: 100%;
    white-space: normal;
    word-wrap: break-word
}
.get-article-image-content .get-article-image-article img {
    float: left;
    width: 100%;
    margin: auto;
    margin-top: 21px
}

.get-article-image-content .get-article-info-image {
    box-shadow: 0px 80px 30px -70px #6a6a6a;
    width: 374px;
    float: left;
    background-color: #F6F6F6;
    margin: auto;
    position: absolute;
    top: 120px;
    left: 75%;
    text-align: left;
    padding: 20px;
}

    .get-article-image-content .get-article-info-image .get-article-published {
        padding-top: 10px;
        color: #7F7B7B;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }

    .get-article-image-content .get-article-info-image .get-article-title-info {
        padding-top: 10px;
        color: #C63638;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .get-article-image-content .get-article-info-image .get-article-bottom-info {
        padding-top: 10px;
        color: #2B2F43;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
    }

.get-article-right-part {
    float: right;
}

.get-article-count-comments {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}

.get-article-comments {
    width: 80%;
    height: 746px;
    background-color: #F8F8F8;
    float: left;
    margin: auto;
    margin: 0 10%;
    padding: 20px;
}

.get-article-sort-by {
    color: #D72130;
}

.get-article-your-commects {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.get-article-your-commects-image {
    width: 35px;
    height: 35px;
    margin: auto 0 auto 22px;
}

.get-article-your-commects-inputs {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 60%;
}

    .get-article-your-commects-inputs textarea {
        width: 100%;
        height: 100%;
        resize: none;
        border: none;
    }

.get-article-your-commects-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 15%;
}

.get-article-body-commects {
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    height: 566px;
    overflow-y: scroll;
}

#messagesList li {
    list-style: none;
}

#messagesList li h5{
    margin: 10px 0;
}

    #messagesList li div {
        margin: 10px 0;
        overflow-wrap: break-word;
    }

    #messagesList li div img {
        margin: 5px;
    }